header {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

header div {
    flex: 1 1 auto;
}

header .header-title small { 
    color: #999;
}

header .header-nav {
    text-align: right;
}

header .header-nav a {
    margin: 5px;
    font-weight: 500;
    color: #999;
}

header .header-nav a.active {
    border: 0px;
    color: #000;
}